{% extends "base.html" %}

{% block content %}
  <h2>Edit comment</h2>

    <form method="post">

      <label>
        <textarea name="content_new_comment">{{c.content}}</textarea>
      </label>
     
      <div class="error">{{error}}</div>
      
        <input type="hidden" name="comment_edited" value="{{"zero"}}">
        {% set comment_id_new_comment = c.key().id() %}
		<input type="hidden" name="comment_id_new_comment" value="{{comment_id_new_comment}}">
        <button type="submit">Save</button>

    </form>

{% endblock %}