<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Sara Vagnarelli">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>my blog</title>
    <!-- sheets -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- icon and web font -->
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial"/>
    <link rel="stylesheet" type="text/css" href="/css/zocial.css">
    <!-- javascript -->
    <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
</head>

<body>
  <article>
    <div class="row">
      <div class="col-md-12 ">
          <div class="presentation">
            <br>
            <h1>🖐🖐🏾Hi! I am Sara and this is my Blog🖐🏾🖐</h1>
            <br>
          </div>
      </div>
    </div>
  </article>

  <footer>
    <div class="instructions">
      <h2>To write or edit posts on my blog please log in here:</h2>
      <a class="login-link" href="/login"><h2>login</h2></a>
      <h2>If you are new please sign up here:</h2>
      <a class="login-link" href="/signup"><h2>signup</h2></a>
      <h2>visit the blog page here:</h2>
      <a class="blog-page-link" href="/blog/"><h2>blog page</h2></a>
    </div>
  </footer>

</body>
</html>

